.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}

.notificationBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #3b82f6;
  color: white;
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
}

.photo {
  width: 24rem;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.qr {
  width: 8rem;
  height: 8rem;
}

.homeButton {
  all: unset;
  margin-top: 2rem;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  cursor: pointer;
}

.mb6 {
  margin-bottom: 1.5rem;
}
