.div {
  background: #ffffff;
  height: 1080px;
  position: relative;
  overflow: hidden;
}

.div2 {
  position: absolute;
  inset: 0;
}

.rectangle-2 {
  background: #3832e9;
  border-radius: 50px;
  width: 82.67%;
  height: 81.98%;
  position: absolute;
  right: 8.66%;
  left: 8.66%;
  bottom: 9.06%;
  top: 8.96%;
}

.noid-text {
  width: 504.44px;
  height: 102.33px;
  position: static;
}

.div3 {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 227.67px;
  top: 172.79px;
  width: 504.44px;
  height: 59.75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.noid {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 227.67px;
  top: 232.19px;
  width: 427.78px;
  height: 42.93px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.div4 {
  width: 779px;
  height: 481px;
  position: static;
}

.dankook-b {
  width: 324.98px;
  height: 481px;
  position: absolute;
  left: 570px;
  top: 333px;
  object-fit: cover;
  aspect-ratio: 324.98/481;
}

.dankook-n {
  width: 324.98px;
  height: 481px;
  position: absolute;
  left: 1024.02px;
  top: 333px;
  object-fit: cover;
  aspect-ratio: 324.98/481;
}

.select-page {
  width: 210.79px;
  height: 55.9px;
  position: static;
}

.rectangle-6 {
  background: #ffffff;
  border-radius: 50px;
  width: 10.98%;
  height: 5.18%;
  position: absolute;
  right: 15.94%;
  left: 73.08%;
  bottom: 73.74%;
  top: 21.08%;
}

.div5 {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  right: 15.94%;
  left: 73.08%;
  width: 10.98%;
  bottom: 73.74%;
  top: 21.08%;
  height: 5.18%;
  display: flex;
  align-items: center;
  justify-content: center;
}
