.page {
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin-top: 255px;
  margin-left: 350px;
  justify-content: space-between;
}

.container {
  width: 700px;
  display: grid;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  margin: auto;
}

.photoSlot {
  background: #d9d9d9;
  width: 180px;
  height: 234px;
  margin: 1em;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  overflow: hidden;
}

.photoSlot.selected {
  border: 3px solid #00f;
}

.photoSlot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.sidePanel {
  background: #3832e9;
  border-radius: 20px;
  width: 441px;
  height: 558px;
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: center;
}

.instruction {
  color: #ffffff;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  width: 441px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonWrapper {
  width: 277px;
  height: 89px;
  margin: 0 auto;
}

.button {
  background: #ffffff;
  border-radius: 50px;
  width: 277px;
  height: 86px;
  color: #000000;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s, filter 0.3s;
}

.button:hover {
  opacity: 0.9;
}

.buttonUploading {
  opacity: 0.5;
  filter: grayscale(1);
  pointer-events: none;
}
