/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
  /* Effects */
}
/* Figma Color Variables of your File */

/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
  /* Effects */
}
/* Figma Color Variables of your File */
